<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="global.css">

</head>
<body class="table-header">
<form id="formLogin">
     <div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <label for="email"></label><input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label>
        <label for="password"></label><label for="cryptography_password"></label><input type="password" class="form-control" id="cryptography_password">
    </div>
<!--    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Salvar dados</label>
    </div> -->
    <button type="submit" class="btn-main" id="btnEntrar,">Entrar</button>
</form>

<script src="loginUsuario.js"></script>
</body>
</html>